
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>DetailCustomer</title>
</head>
<body>
<h3>View Customer</h3>
<p>
  <a th:href="@{/home}">
    Back to customer list
  </a>
</p>
<div id="form">
  <div class="cus-detail">
    <label>Name:</label>
    <label th:text="${product.name}"></label>
  </div>
  <div class="cus-detail">
    <label>Price:</label>
    <label th:text="${product.price}"></label>
  </div>
  <div class="cus-detail">
    <label>Description:</label>
    <label th:text="${product.description}"></label>
  </div>
  <div class="cus-detail">
    <label>Producer:</label>
    <label th:text="${product.producer}"></label>
  </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
